.companyTitle{
    text-align: center;
}

.companyTitle p {
    font-family: 'Sarabun', sans-serif;
    font-size: 6rem;
}

.companyTitle span {
    border-left: 5px #5498FF solid;
    background-color: #2179FF;
    color:white;
    font-weight: bold;
    padding:4px;
}

.outerContainer{
    display:flex;
}

.left {
    margin-right:auto;
    margin-left:2rem;
}

.right {
    margin-left: auto;
    margin-right:2rem;
}

.box {
    
    background-color:lightgrey;
    border: 2px solid black;
    padding: 20px;
}

.box textbox {
    background-color: white;
    border: 2px solid black;
}

.box select{background-color: rgb(255, 255, 255);}


.lrbox{
    background-color:lightgrey;
    display: flex;
    gap: 10px;
    padding: 0px;
}

.l{
    margin-left: 0rem;
    margin-right: auto;
}
.r{
    margin-left: auto;
    margin-right:0rem;
}


.submitButton{ 
    background-color: rgb(60, 199, 60);
    border: 2px solid black;
    color: black;
    border-radius:  50px;
    
}

.footer {
    background-color: #5498FF;
    padding:20px;
}

