.navbarStyle {
  background-color: #5498FF;
  padding: 20px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.navbarStyle a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  display: inline-flex;
  align-items: center;
  padding-left: 1rem;
}

.me-auto {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}

.searchBarContainer {
  width: 40%;
  display: flex;
  align-items: center;
}

.searchBar {
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  border-radius: 25px;
}
