table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0; 
    margin: 20px 0;
    border: 3px solid #5498FF; 
    background-color: lightgrey;
}


table tbody tr:not(:first-child) {
    border-top: 2px solid black;
}

table th, table td {
    padding: 15px;
    text-align: left;
}

table tr:last-child td {
    border-bottom: none;  
}

table td, table th {
    border: none;
}

.tableWrapper {
    padding: 0 10%; 
    max-width: 1200px; 
    margin: auto; 
}

.tableContainer {
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tableHeaderInfo {
    text-align: left;
    width: 100%; 
    padding-bottom: 10px;
}

.buttonsContainer {
    display: flex; 
    justify-content: flex-end; 
    gap: 10px; 
    width: 100%;
    padding-top: 5px;
}

button {
    background-color: #5498FF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.footer {
    background-color: #5498FF;
    padding: 20px;
}
